<div class="row">
    <div class="col-md-3">
      <form [formGroup]="myForm" (ngSubmit)="onSignin()">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input formControlName="email" type="email" id="email" class="form-control">
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input formControlName="password" type="password" id="password" class="form-control">
        </div>
        <hr>
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary" (click)="onSignin()">Sign In</button>
      </form>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div id="google-signin"></div>
  </div>

</div>
